@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700&display=swap);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Raleway", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-git:before {
  content: "\e903";
}

._icon-gmail:before {
  content: "\e900";
}

._icon-link:before {
  content: "\e904";
}

._icon-linkedin:before {
  content: "\e901";
}

._icon-telegram:before {
  content: "\e902";
}

body {
  background-color: #000;
  color: #fff;
  font-size: calc((1vw + 1vh) * 0.8);
  line-height: 1.75;
  height: 4000px;
  font-weight: 300;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

.gallery {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 100%;
}

.item {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.75s cubic-bezier(0.075, 0.5, 0, 1), opacity 0.75s ease;
  -o-transition: 0.75s cubic-bezier(0.075, 0.5, 0, 1), opacity 0.75s ease;
  transition: 0.75s cubic-bezier(0.075, 0.5, 0, 1), opacity 0.75s ease;
  will-change: transform;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  text-align: center;
}

.item__icon {
  margin-right: 7px;
}

.item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc((1vw + 1vh) * 20);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.item__info {
  border-top: 1px solid rgb(180, 180, 180);
  border-bottom: 1px solid rgb(180, 180, 180);
  padding: 10px 0;
  margin-top: 3vh;
  color: rgb(180, 180, 180);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.item__link {
  text-transform: uppercase;
  margin-top: 3vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.item__link_duo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  margin-top: 3vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  gap: 20px;
}

.item__link_duo a {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item__link_duo a:hover {
  color: rgb(180, 180, 180);
}

.item__link_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  margin-top: 3vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  gap: 20px;
  font-size: calc((1vw + 1vh) * 1.5);
}

.item__link_contact a {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  vertical-align: bottom;
}

.item__link_contact a:hover {
  color: rgb(180, 180, 180);
}

.item__link a {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.item__link a:hover {
  color: rgb(180, 180, 180);
}

.item__content h1 {
  text-align: center;
  font-size: calc((1vw + 1vh) * 3.3);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.item__content h2 {
  text-align: center;
  font-size: calc((1vw + 1vh) * 3);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.item__content h3 {
  text-align: center;
  font-size: calc((1vw + 1vh) * 2.2);
}

.item__content p {
  margin-top: 3vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.item__media {
  position: relative;
  width: calc((1vw + 1vh) * 26);
  height: calc((1vw + 1vh) * 36);
  background-position: center;
  background-size: cover;
}

.item__media_left {
  right: calc(13 * (1vw + 1vh) + 30px);
}

.item__media_right {
  left: calc(13 * (1vw + 1vh) + 30px);
}

.item_bg {
  background-color: rgba(0, 0, 0, 0.87);
}

video.item__media {
  width: calc((1vw + 1vh) * 36);
  height: calc((1vw + 1vh) * 36);
}

video.item__media_right {
  left: calc(10.2857142857 * (1vw + 1vh) + 30px);
}

video.item__media_left {
  right: calc(24 * (1vw + 1vh) + 30px);
}

.text-right > * {
  position: relative;
  left: 22vw;
}

.text-left > * {
  position: relative;
  right: 22vw;
}

.scroll {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
}